.container {
  margin-top: 10px;
}

.help-block {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-pending {
  border: 1px solid yellow;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}
